h1,h2,h3,h4,h5,h6,a,p{
	font-family: "Microsoft YaHei" ! important;
}

html{
	background-image: url(image/web/bg.png);
}

body{
	margin: 0px;
}

.step { 
	margin: 0 auto 24px auto; 
	text-align:center;
	color: white; 
}

.border-box{
	border-style: none;
	background-color: rgba(150,150,150,0.7);
}

.border-radius{
	width: 600px;
	height: 600px;
	border-style: none;
	border-radius: 500px;
	color: white;
}

.return{
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

.return a{
	font-size: 16px;
	text-decoration: none;
	color: white;
}

.return a:hover{
	font-size: 17px;
}


.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.no-support-message { 
	display:none; 
	width:800px; 
	height: 600px;
	margin:0 auto 24px auto; 
	text-align:center;
}

.impress-not-supported .no-support-message { 
	display:block; 
}

#page-top{
	width: 100%;
	text-align: center;
	margin-top: 50px;
	font-size: 20px;
}

/*first-page*/
#first-page{
	width: 800px;
	height: 300px;
}

#first-blank{
	width: 0px;
	height: 0px;
	border: none;
}

#first-top{
	margin-top: 50px;
}

#first-bottom{
	margin-top: 50px;
}

#first-title{
	margin: 0px;
	font-size: 38px;
}

#first-desc{
	margin: 0px;
	font-size: 28px;
	text-decoration: none;
	color: white;
}

#first-hr{
	width: 600px;
	height: 2px;
	background-color: white;
	margin: 10px auto;
}

#first-authors{
	font-size: 20px;
}

#first-link{
	font-size: 20px;
	text-align: center;
}

#first-link a{
	line-height: 20px;
	font-size: 20px;
	color: #000000;
	text-decoration: none;
}

#first-link a:hover{
	color: #aaaaaa;
}

/*summary*/

#summary-page{
	background-color: rgba(200,0,0,0.5);
}

#summary-page:hover{
	background-color: rgba(200,0,0,0.8);
}

#summary-0-title{
	margin: 0px;
	margin-top: 240px;
	font-size: 80px;
}

#summary-1-page{
	width: 600px;
	height: 300px;
}

#summary-2-page{
	width: 600px;
	height: 300px;
}

#summary-3-page{
	width: 600px;
	height: 500px;
}

.summary-title{
	text-align: left;
	margin: 0px;
	padding: 20px;
	font-size: 36px;
	color: rgb(200,0,0);
}

.summary-desc{
	text-align: left;
	margin: 0px;
	margin-top: 20px;
	font-size: 24px;
}

/*design*/

#design-page{
	background-color: rgba(0,200,0,0.5);
}

#design-page:hover{
	background-color: rgba(0,200,0,0.8);
}

#design-0-title{
	font-size: 60px;
	margin-top: 240px;
}

#design-1-page{
	width: 640px;
	height: 400px;
}

#design-2-page{
	width: 640px;
	height: 450px;
}

#design-3-page{
	width: 640px;
	height: 400px;
}

#design-4-page{
	width: 580px;
	height: 450px;
}

#design-5-page{
	width: 580px;
	height: 450px;
}

#design-6-page{
	width: 640px;
	height: 480px;
}

#design-7-page{
	width: 640px;
	height: 600px;
}

.design-title{
	text-align: left;
	margin: 0px;
	padding-top: 20px;
	padding-left: 20px;
	font-size: 32px;
	color: rgb(0,200,0);
}

.design-desc{
	text-align: left;
	margin-top: 20px;
	margin-left: 20px;
	font-size: 20px;
}

.design-img{
	text-align: left;
	margin-left: 20px;
	margin-top: 20px;
}

.design-img img{
	max-height: 300px;
	max-width: 600px;
}

.design-code{
	text-align: left;
	margin-top: 10px;
	margin-right: 20px;
	padding: 10px;
	font-size: 18px;
	background-color: rgba(50,50,50,0.5);
}


/*modules*/

#modules-page{
	background-color: rgba(0,0,200,0.5);
}

#modules-page:hover{
	background-color: rgba(0,0,200,0.8);
}

#modules-0-title{
	font-size: 60px;
	margin-top: 240px;
}

#modules-1-page{
	width: 640px;
	height: 300px;
}

#modules-2-page{
	width: 600px;
	height: 450px;
}

#modules-3-page{
	width: 500px;
	height: 200px;
}

.img-res-show{
	width: 800px;
	height: 400px;
}

#modules-title{
	text-align: left;
	margin: 0px;
	padding-top: 20px;
	padding-left: 20px;
	font-size: 32px;
	color: rgb(0,0,200);
}

#modules-desc{
	text-align: left;
	margin-top: 20px;
	margin-left: 20px;
	font-size: 20px;
}

.modules-img{
	text-align: left;
	margin-left: 20px;
	margin-top: 20px;
}

.modules-img img{
	max-width: 600px;
	max-height: 300px;
}

.modules-img-sp{
	float: left;
	text-align: center;
	width: 350px;
	height: 300px;
	margin-left: 20px;
	margin-top: 50px;
}

.modules-img-sp img{
	max-width: 350px;
	max-height: 400px;
}

.text-center{
	text-align: center;
}