BINARIZATION/*
!BINARIZATION/*.srcs/
!BINARIZATION/*.xpr
BoardPreGrid/*
!BoardPreGrid/*.srcs/
BoardPreGrid/BoardPreGrid.srcs/sources_1/ipshared
BoardPreGrid/BoardPreGrid.srcs/sources_1/bd/BoardPreGrid/ip
!BoardPreGrid/*.xpr